 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Manrope", sans-serif;
    background: #F1F1F1;
  }
  
  .headphone-product-hero-mark2{
    width: 100%;
    background: #000;
    height: 80px;
  }

  header {
    width: 100%;
    align-items: center;
    margin: 0;
    height: 40px;
    padding: 20px;
    align-items: center;
  }
  
  .header-container-headphone-product-mark2{
    display: inline-flex;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
  }


  nav {
    display: inline-flex;
    padding-right: 2px;
    justify-content: center;
    align-items: flex-start;
    gap: 34px;
  }
  
  a:active, a:hover{
    color: #D87D4A;
  }
  
  nav a {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 192.308% */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
  }

  .go-back a button{
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
border: none;
background: transparent;
margin: 50px;
  }
/*cart-item */
button {
    cursor: pointer;
    outline: 0;
   } 
  
   #cart-btn {
    border: none;
    font-size: 1.5rem;
    background: none;
    color: #FFF;
   }
  
   #cart-count-info {
    position: absolute;
    top: 6px;
    margin-left: 10px;
    background: #D87D4A;
    font-size: 1rem;
    width:  18px;
    height: 18px;
    border-radius: 50%;
    --wekit-border-radius: 50%;
    --moz-border-radius: 50%;
    --ms-border-radius:50%;
    --0-border-raduis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }
  
   .cart-container {
    position: absolute;
    overflow-y: scroll;
    background: #FFF;
    object-fit: contain;
    width: 377px;
    height: 488px;
    top: 10%;
    right: 100px;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
    z-index: 1;
    margin-top: 40px;
   }
  
   .cart-container::--webkit-scrollbar {
    width: 8px;
   }
  .cart-container::--webkit-scrollbar- thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    --wekit-border-radius: 15px;
    --moz-border-radius: 15px;
    --ms-border-radius:15px;
    --0-border-raduis: 15px;
  }
  
  .show-cart-container{
    display: block;
  }
  
  .cart-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   margin-top: 40px;
  }
  
  .image-item-info{
    display: flex;
    gap: 20px;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  .cart-image{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #F1F1F1;
    margin-left: 60px;
  }
  
  
  .cart-item-del-btn {
    position: absolute;
    right: 15px;
    top: 13px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    background: #D87D4A;
    border: none;
    color: #FFF;
    border-radius: 5px;
    --wekit-border-radius: 5px;
    --moz-border-radius: 5px;
    --ms-border-radius:5px;
    --0-border-raduis: 5px;
  }
  
  .cart-item-info{
  text-align: center;
  }
  .cart-item-info span {
    display: block;
  }
  
  .cart-total {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .cart-total h3 {
  
  }
  
  .cart-add-remove input{
    display: inline-flex;
    border: none;
    gap : 8px;
  }
  
  .cart-background{
    opacity: 0.4;
  background: #000;
  width: 1349px;
  height: 4075px;
  position: absolute;
  right: 0;
  left: 0;
  
  display: none;
  }
  
  .showbackground {
    display: block;
  }
  
  .cart-item-image{
    width: 64px;
    height: 64px;
    margin: 20px;
  
  
  }
  
  .cart0 p{
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
    margin: 15px;
    text-align: center;
  
  }
  
  .remove-text {
    color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; 
  text-decoration-line: underline;
  opacity: 0.5;
  margin-left: 150px;
  }
  
  .item-name{
    color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; 
  position: relative;
  bottom: 70px;
  }
  
  
  .item-price{
    color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; 
  opacity: 0.5;
  position: relative;
  bottom: 70px;
  left: 100px;
  }
  
  .item-quantity{
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    height: 50px;
  background: #F1F1F1;
  position: relative;
  bottom:  70px ;
  left: 120px;
  }
  
  .item-button{
   border: none;
  
  }
  
  .increase{
    position: relative;
    left: 15px;
  }
  .decrease{
    position: relative;
    right: 15px;
  }
  
  .remove-item{
    position: relative;
    bottom: 70px;
    left: 150px;
    border: none;
    background: none;
    color: #000;
  font-family: 'Manrope',sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; 
  text-decoration-line: underline;
  opacity: 0.5;
  
  }
  
  .total-price{
    color: #000;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 170px;
  }
  
  .total-price-p{
    color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; 
  opacity: 0.5;
  text-align: center;
  
  }
  
  .checkout-cart-item button {
    width: 313px;
    height: 48px;
    flex-shrink: 0;
    background: #d87d4a;
    color: #fff;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 50px;
    position: relative;
    bottom: 5px;
    align-items: center;
    margin-left: 30px;
  }
  
  .total-price-checkout-div {
    position: absolute;
    bottom: 0;
  }
  
  .total-price-checkout-div p {
    margin-bottom: 10px;
    text-align: center;
  } */




  /* started checkout form styling here */

  .Checkout-container-form{
    background: #F1F1F1;
  }

  .flex-form-summary{
    display: inline-flex;
    gap: 100px;
    width: 500px;
  }
  .form-container {
    width: 730px;
height: 1126px;
border-radius: 8px;
background: #FFF;
border: 2px solid #FFF;
margin-left: 100px;

  }
  li {
    list-style: none;
  }

  .summary-container{
    width: 350px;
height: 612px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: 2px solid #FFF;
  }

.summary-p{
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.286px;
text-transform: uppercase;
margin: 20px;
}
  
  .successmodal{
    display: none;
  }

.checkout-text{
    width: 350px;
    color: #000;
font-family: 'Manrope',sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 112.5% */
letter-spacing: 1.143px;
text-transform: uppercase;
margin: 50px;
}

.Billing-details {
    margin: 50px;
}

.Billing-details p, .shipping-info p, .payment-details-p{
    color: #D87D4A;
font-family: 'Manrope', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 192.308% */
letter-spacing: 0.929px;
text-transform: uppercase;
}

.Billing-details-input, .shipping-info-input, .e-Money-details{
    display: flex;
    align-items:center ;
    gap: 30px;
    width: 300px;
    margin-top: 20px;
    
}


.Billing-details-input input, .shipping-info-input input {
    width: 309px;
height: 56px;
border-radius: 8px;
border: 1px solid #CFCFCF;
background: #FFF;
}

#eMoneyDetails input{
  width: 309px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.CashOnDelivery-flex{
  display: flex;
  gap: 10px;
 position: relative;
 right: 80px;
 top: 80px;
}

.CashOnDelivery-flex p {
  width: 554px;
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
}

input:focus{
  outline: none !important;
  border-radius: 8px;
  border: 1px solid #D87D4A;
  background: #FFF;
}
::placeholder{
  position: relative;
  left: 30px;
}

.shipping-info{
 margin: 50px;
}

.address-div input{
    width: 634px;
    height: 56px;
    border-radius: 8px;
border: 1px solid #CFCFCF;
background: #FFF;
}


.goback:active, .goback:hover {
  color: #D87D4A;
}

.payment-details{
    margin: 50px;
}
.payment-details-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.checkbox-flex{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-left: 30px;
 
}

.changecheckbox{
  -webkit-appearance: none;
  background-color:  #FFF;
  border: 1px solid;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 10px;
  padding: 5px;

}

.changecheckbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0px 1px rgba(0,0,0,0.1);
}

.changecheckbox:checked {
	border-radius: 8px;
  border: 1px solid #D87D4A;
   background: #D87D4A;
	color: #D87D4A;
}

.checkbox-label{
  position: relative;
  bottom: 23px;
}

label {
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.214px;
margin-bottom: 5px;

}
.checkbox-flex-input{
    width: 309px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #CFCFCF;
background: #FFF;
}

.checkbox-flex-input input {
    margin: 20px;
}

.payment-details-p2{
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.214px;
}


.cart-item-image{
  width: 64px;
  height: 64px;
  border-radius: 8px;
background: #F1F1F1;
}

.summary-item-name{
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; 
position: relative;
bottom: 60px;
}

.summary-item-price{
  color: #000;
font-family: 'Manrope' ,sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 25px;
opacity: 0.5;
position: relative;
bottom: 30px;
right: 50px;

}

.summary-item-quantity{
  color: #000;
text-align: right;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; 
opacity: 0.5;
position: relative;
bottom: 40px;
}


.total-price-summary-checkout{
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; 
opacity: 0.5;
}

#totalPriceSumary, #shippingPrice{
  color: #000;
text-align: left;
font-family: 'Manrope', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
position: relative;
left: 140px;
}

 #vatFee {
  color: #000;
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  left: 80px;
 }

 .dollar-sign{
  color: #000;
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  left: 80px;
 }

 #grandTotal {
  color: #000;
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  left: 100px;
  color:  #D87D4A;
 }

.grandTotal-summary{
  margin: 20px;
}

.Continue-pay {
  width: 284px;
  height: 48px;
  background: #D87D4A;
  color: #FFF;
text-align: center;
font-family: 'Manrope' ,sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
border: none;
margin-left: 30px;
}
  /*footer*/
  .footer-container-product-headphone{
    width: 100%;
    height: 365px;
    background: #101010;
    margin-top: 150px;
}

.footer-navbar-product-headphone{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 100px;
}

.footer-text-product-headphone{
    display: inline-flex;
}

.Audiophile-product-headphone p{
 width: 540px; 
color: #FFF;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; 
opacity: 0.5;
gap: 100px;
margin-left: 100px;
position: relative;
bottom: 60px;
}

.Copyright-product-headphone{
    width: 540px;
    color: #FFF;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px;
opacity: 0.5;
margin-left: 100px;
position: relative;
bottom: 20px;
}

.social-product-headphone{
    display: inline-flex;
    gap: 15px;
    margin-left: 449px;
}

.empty-footer-product-headphone{
  width: 101px;
height: 4px;
background: #D87D4A;
margin-left: 100px;
}

.new-product-p{
  color: #D87D4A;
font-family: 'Manrope', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 10px;
text-transform: uppercase;
}


.hidden{
  display: none;
}

#thankYouPage{
  width: 540px;
  height: 713px;
  flex-shrink: 0;
  width: 540px;
height: 713px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
margin-left: 400px;
margin-bottom: 100px;
}

.thankyouIcon {
  width: 64px;
height: 64px;
margin: 50px;
position: relative;
top: 50px;
}

#thankYouPage h1{
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  letter-spacing: 1.143px;
  text-transform: uppercase;
  width: 60%;
  margin-left: 50px;
position: relative;
top: 20px;
}

.confirmationEmail {
  width: 444px;
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
position: relative;
top: 50px;
margin-left: 50px;
}

.displayCartItemsONThankyouPage {
  display: flex;
  width: 400px;
  margin: 100px;
  position: relative;
  right: 50px;
}

.imagethankYoupage{
  width: 444px;
  height: 140px;
border-radius: 8px;
background: #F1F1F1;
display: flex;
flex-direction: column;

}

.grandTotalthankyoupage{
  width: 398px;
  height: 140px;
border-radius: 0px 8px 8px 0px;
background: #000;
}

.grandTotalthankyoupageText{
  color: #FFF;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
position: relative;
top: 70px;
left: 20px;
}

.grandTotalthankyoupageAmount{
  color: #FFF;
text-align: right;
font-family: 'Manrope', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
position: relative;
top: 80px;
left: 40px;
}

.Back-to-home button {
  width: 444px;
height: 48px;
background:  #D87D4A;;
color: #FFF;
text-align: center;
font-family: 'Manrope', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
border: none;
position: relative;
bottom: 50px;
left: 40px;
}

.thankyouimage{
  width: 38px;
height: 42px;
position: relative;
left: 70px;

}

input:hover{
  border-radius: 8px;
border: 1px solid #D87D4A;
background: #FFF;
}

button:active, button:hover {
  background: #FBAF85;
}