* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: "Manrope", sans-serif;
  }
  
  .headphone-product-hero-mark2{
    width: 100%;
    background: #000;
    height: 80px;
  }

  header {
    width: 100%;
    align-items: center;
    margin: 0;
    height: 40px;
    padding: 20px;
    align-items: center;
  }
  
  .header-container-headphone-product-mark2{
    display: inline-flex;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
  }


  nav {
    display: inline-flex;
    padding-right: 2px;
    justify-content: center;
    align-items: flex-start;
    gap: 34px;
  }
  
  a:active, a:hover{
    color: #D87D4A;
  }
  
  nav a {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 192.308% */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
  }

  .go-back a button{
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
border: none;
background: transparent;
margin: 50px;
  }


  .xx99-mark-2{
    display: inline-flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    z-index: -2;

  }

  .xx99-mark-2-image img {
    width: 540px;
height: 560px;
border-radius: 8px;
background: #F1F1F1;
  }

  .xx99-mark-2-text h1{
    width: 445px;
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 110% */
letter-spacing: 1.429px;
text-transform: uppercase;
margin-top: 20px;
  }

  .xx99-mark-2-text p {
    width: 445px;
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
margin-top: 20px;
  }

  .xx99-mark-2-text h5 {
    color: #000;
font-family: 'Manrope',sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.286px;
text-transform: uppercase;
margin-top: 20px;
  }

  .add-to-cart-num{
    width: 120px;
height: 48px;
flex-shrink: 0;
background: #F1F1F1;
border: none;
margin-top: 40px;
  }

  .add-to-cart-text{
    width: 160px;
height: 48px;
background: #D87D4A;
border: none;
margin-left: 20px;
color: #FFF;
text-align: center;
font-family: 'Manrope', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
  }

  .add-to-cart-num[value = '1'] {
    text-align: center;
  }


  .product-features{
    display: inline-flex;
    gap: 50px;
    margin: 150px;
    width: 700px;
  }

  .Features-text-1 h1 {
    width: 445px;
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 112.5% */
letter-spacing: 1.143px;
text-transform: uppercase;
margin-bottom: 30px;
  }

  .Features-text-1 p {
    width: 635px;
    color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
  }

  .p2{
     margin-top: 20px;
  }

  .Features-text-2 h1{
    width: 350px;
    color: #000;
font-family: 'Manrope' ,sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 112.5% */
letter-spacing: 1.143px;
text-transform: uppercase;
margin-bottom: 30px;
  }

  .Features-text-2 p {
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
    opacity: 0.5;
    margin-top: 10px;
  }

  .numhers{
    color: #D87D4A;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 166.667% */
  }

  .Features-text-2{
    margin-left: 50px;
  }

  .product-features-imgaes{
    display: inline-flex;
  margin-left: 150px;
    gap: 20px;
  }


  .colume-images img{
    border-radius: 6px;
  }

  .colume-images-1{
    margin-bottom: 20px;
  }

  .row-image img{
    border-radius: 6px;
  }

  .you-may-also-like-text h1 {
    color: #000;
font-family: 'Manrope' ,sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 112.5% */
letter-spacing: 1.143px;
text-transform: uppercase;
margin: 110px;
text-align: center;
  }

  .you-may-also-like-images{
     display: inline-flex;
     gap: 30px;
     margin-left: 150px;
  }

  .you-may-also-like-images-product img {
    width: 350px;
height: 318px;
border-radius: 8px;
background: #F1F1F1;
object-fit: cover;
  }

  .you-may-also-like-images-product h1 {
    color: #000;
text-align: center;
font-family: 'Manrope', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.714px;
text-transform: uppercase;
margin-top: 20px;
  }

  .you-may-also-like-images-product-button a button{
    width: 160px;
    height: 48px;
    background: #D87D4A;
    color: #FFF;
font-family: 'Manrope',sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
border: none;
margin-left: 100px;
margin-top: 20px;
  }


  .product-main-product-headphone {
    display: inline-flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
    gap: 50px;
    position: relative;
    left: 100px;
    top: 70px;
  }
  .product-preview-product-headphone{
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    padding-left: 40px;
  }
  
  .product-preview-product-headphone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-preview-product-headphone h1{
    color: #000;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
   position: relative;
   bottom: 60px;
  }
  
  .product-preview-product-headphone p {
    width: 200px;
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
    position: relative;
    left: 130px;
    bottom: 60px;
  }
  
  .shop-icon {
    border: none;
  }
  
  .Best-gear-product-headphone{
    display: inline-flex;
    width: 80%;
    gap: 80px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
  .Best-gear-text-product-headphone h1 {
    width: 445px;
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 110% */
    letter-spacing: 1.429px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .best-product-headphone{
      color: #D87D4A;
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  }
  
  .Best-gear-text-product-headphone p {
      width: 445px;
      color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  }
  
  .Best-gear-image-product-headphone img{
      width: 445px;
  margin-left: 130px;
  }
  
  .footer-container-product-headphone{
      width: 100%;
      height: 365px;
      background: #101010;
      margin-top: 150px;
  }
  
  .footer-navbar-product-headphone{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      margin: 100px;
  }
  
  .footer-text-product-headphone{
      display: inline-flex;
  }
  
  .Audiophile-product-headphone p{
   width: 540px; 
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; 
  opacity: 0.5;
  gap: 100px;
  margin-left: 100px;
  position: relative;
  bottom: 60px;
  }
  
  .Copyright-product-headphone{
      width: 540px;
      color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  opacity: 0.5;
  margin-left: 100px;
  position: relative;
  bottom: 20px;
  }
  
  .social-product-headphone{
      display: inline-flex;
      gap: 15px;
      margin-left: 449px;
  }
  
  .empty-footer-product-headphone{
    width: 101px;
  height: 4px;
  background: #D87D4A;
  margin-left: 100px;
  }

  .new-product-p{
    color: #D87D4A;
font-family: 'Manrope', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 10px;
text-transform: uppercase;
  }


  /**/
 

 button {
  cursor: pointer;
  outline: 0;
 } 

 #cart-btn {
  border: none;
  font-size: 1.5rem;
  background: none;
  color: #FFF;
 }

 #cart-count-info {
  position: absolute;
  top: 6px;
  margin-left: 10px;
  background: #D87D4A;
  font-size: 1rem;
  width:  18px;
  height: 18px;
  border-radius: 50%;
  --wekit-border-radius: 50%;
  --moz-border-radius: 50%;
  --ms-border-radius:50%;
  --0-border-raduis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
 }

 .cart-container {
  position: absolute;
  overflow-y: scroll;
  background: #FFF;
  object-fit: contain;
  width: 377px;
  height: 488px;
  top: 10%;
  right: 100px;
  box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
  display: none;
  z-index: 1;
  margin-top: 40px;
 }

 .cart-container::--webkit-scrollbar {
  width: 8px;
 }
.cart-container::--webkit-scrollbar- thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  --wekit-border-radius: 15px;
  --moz-border-radius: 15px;
  --ms-border-radius:15px;
  --0-border-raduis: 15px;
}

.show-cart-container{
  display: block;
}

.cart-item {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 30px;
 margin-top: 40px;
}

.image-item-info{
  display: flex;
  gap: 20px;
}

.cart-item:last-child {
  border-bottom: none;
}
.cart-image{
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: #F1F1F1;
  margin-left: 60px;
}


.cart-item-del-btn {
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 0.05rem 0.45rem;
  font-size: 1.4rem;
  background: #D87D4A;
  border: none;
  color: #FFF;
  border-radius: 5px;
  --wekit-border-radius: 5px;
  --moz-border-radius: 5px;
  --ms-border-radius:5px;
  --0-border-raduis: 5px;
}

.cart-item-info{
text-align: center;
}
.cart-item-info span {
  display: block;
}

.cart-total {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart-total h3 {

}

.cart-add-remove input{
  display: inline-flex;
  border: none;
  gap : 8px;
}

.cart-background{
  opacity: 0.4;
background: #000;
width: 1349px;
height: 4075px;
position: absolute;
right: 0;
left: 0;

display: none;
}

.showbackground {
  display: block;
}

.cart-item-image{
  width: 64px;
  height: 64px;
  margin: 20px;


}

.cart0 p{
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
  margin: 15px;
  text-align: center;

}

.remove-text {
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
text-decoration-line: underline;
opacity: 0.5;
margin-left: 150px;
}

.item-name{
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; 
position: relative;
bottom: 70px;
}


.item-price{
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 25px; 
opacity: 0.5;
position: relative;
bottom: 70px;
left: 100px;
}

.item-quantity{
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  height: 50px;
background: #F1F1F1;
position: relative;
bottom:  70px ;
left: 120px;
}

.item-button{
 border: none;

}

.increase{
  position: relative;
  left: 15px;
}
.decrease{
  position: relative;
  right: 15px;
}

.remove-item{
  position: relative;
  bottom: 70px;
  left: 150px;
  border: none;
  background: none;
  color: #000;
font-family: 'Manrope',sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
text-decoration-line: underline;
opacity: 0.5;

}

.total-price{
  color: #000;
text-align: center;
font-family: 'Manrope', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 170px;
}

.total-price-p{
  color: #000;
font-family: 'Manrope', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.5;
text-align: center;

}